
<div class="columns">

    <div class="column">
        <h3 class="subtitle has-text-weight-bold m-lg-left">{{category}}</h3>
    </div>

    <div class="column has-text-centered">
        <span class="subtitle has-text-success">{{total}}</span>        
    </div>

    <div class="column has-text-centered">
        <span class="icon is-medium"><i class="fas fa-caret-up fa-2x caret-margin" data-category={{category}}></i></span>
    </div>

</div>