<div class="level">
    <h3 class="subtitle has-text-weight-bold level-item">Housing</h3>
    <span class="subtitle level-item has-text-success">$amount</span>
    <div class="level-item">
        <span class="icon is-medium"><i class="fas fa-caret-up fa-2x carat-margin"></i></span>
    </div>

    <hr>
    
    
</div>