<div class="entries hidden">
    
    {{#each entries}}
        <div class="columns">

            <div class="column">
                <h3 class="m-xlg-left">{{name}}</h3>
            </div>

            <div class="column has-text-centered">
                <span class="m-sm-left">{{amount}}</span>        
            </div>

            <div class="column"></div>
        </div>

    {{/each}}
</div>