<footer class="footer">
    <div class="content has-text-centered has-text-grey-lighter">
            <a class="has-text-grey-lighter" href="https://github.com/tjordanwells/project-2" target="_blank">View on Github</a>
    </div>
</footer>