<nav class="navbar is-light m-lg-bottom nav-correction" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
        <div class="navbar-brand navbar-item" style="display:inline-block">
            <a href="/">
                <span class="icon is-medium"><img src="/img/piggy-bank.svg" alt="piggy-bank"></span>
                <span class="title" id="brand">Kind Budget</span>
            </a>
        </div>
    </div>
    {{!-- <div class="navbar-end">
        <div class="navbar-item">
            <div >
                <a href="/user/planned" class="button is-primary">Login</a>
            </div>
        </div>
    </div> --}}
</nav>

