<nav class="navbar is-light m-lg-bottom" role="navigation" aria-label="main navigation">

        <div class="navbar-brand navbar-item" style="display:inline-block">
            <a href="/">
                <span class="icon"><img src="/img/piggy-bank-dollar.png" alt=""></span>
                <h1 class="title" id="brand">Budget!</h1>
            </a>
        </div>

    <div class="navbar-item is-pulled-right">
        <div >
            <a href="/user/planned" class="button is-primary">Login</a>
        </div>
    </div>
    
</nav>

