<nav class="navbar is-light nav-margin" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
        <div class="navbar-brand navbar-item">
            <a href="/">
                <h1 class="title">Budget!</h1>
            </a>
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <a href="/user/planned" class="button is-primary">Login</a>
        </div>
    </div>
    
</nav>

