<form id="signin" name="signin" method="post" action="/signin">
<!--user email-->
    <div class="field is-paddingless">
        <label class="label" for="email">Email</label>
        <div class="control">
        <input type="email" class="input" name="email" placeholder="your.email@mail.com">
        </div>
    </div>

<!--User password-->
    <div class="field is-paddingless">
        <label class="label" for="password">Password</label>
        <div class="control">
        <input type="password" class="input"  placeholder="Enter your password">
        </div>
    </div>

<!--Submit/cancel-->
    <div class="field is-paddingless">
        <div class="control">
            <input type="submit" class="button is-success" id="submit" value="Sign In">
            <button class="button is-danger" id="cancel">Cancel</button>
        </div>
    </div>
</form>

