<div class="tabs is-boxed">
    <ul>
        <li class="tab" id="planned">
            <a href="/user/planned">
                <span>Planned</span>
            </a>
        </li>
        <li class="tab" id="spent">
            <a href="/user/spent">
                <span>Spent</span>
            </a>
        </li>
        <li class="tab" id="remaining">
            <a href="/user/remaining">
                <span>Remaining</span>
            </a>
        </li>
    </ul>
</div>