{{> nav}}

<div class="container has-background-white">
  <h1 class="title">Welcome to the budget app</h1>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../public/js/index.js"></script>