{{> nav}}

<section id="main-content" class="container">
  <div class="hero is-medium is-bold" id="hero1">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          KB Kind Budget
        </h1>
        <h2 class="subtitle">
          The easy way to budget
        </h2>
        <button class="button is-danger" id="userAuth">Login or Sign Up</button>
      </div>
    </div>
  </div>

  <div class="hero has-background-white" id="hero2">
    <div class="hero-body">
      <div class="container">
        <h1 class="title p-sm">Budgeting the way it should be... simple</h1>

        <div class="level">
          <div class="level-item flex-column">
            <img class="image is-128x128" src="/img/money-bag.png" alt="money">
            <p class="has-text-weight-bold p-sm">Track your income</p>
          </div>
          <div class="level-item flex-column">
            <img class="image is-128x128" src="/img/loss.png" alt="chart">
            <p class="has-text-weight-bold p-sm">See how your money is spent</p>
          </div>
          <div class="level-item flex-column">
            <img class="image is-128x128" src="/img/abacus.png" alt="calc">
            <p class="has-text-weight-bold p-sm">Calculate your budget</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{> footer}}

<!--Login Modal-->
<div class="modal">
  <div class="modal-background"></div>
  
  <div class="modal-card">

    <header class="modal-card-head">
      <p class="modal-card-title">Login or Signup</p>
    </header>
    

    <section class="modal-card-body">
      <div>
          <div class="field has-addons">
          <p class="control">
            <a class="button is-info is-active" id="login">
              <span>Login</span>
            </a>
          </p>
          <p class="control">
            <a class="button" id="signup">
              <span>Signup</span>
            </a>
          </p>
        </div>
      </div>

      <!--Forms-->
      <div id="forms">
        {{> signin}}
      </div>  

    </section>

    <footer class="modal-card-foot"></footer>

    </div>
      <button class="modal-close is-large" id="close" aria-label="close"></button>
  </div>






<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>