{{> nav}}

<div class="container has-background-white p-md m-lg-bottom" id="budget">
            <a href="/user/planned">
                <span class="tab title is-1 p-sm-left p-sm-right {{#unless section.planned}}has-text-grey-lighter{{/unless}}" id="planned">Planned</span>
            </a>
            <a href="/user/spent">
                <span class="tab title is-1 p-sm-left p-sm-right {{#unless section.spent}}has-text-grey-lighter{{/unless}}" id="spent">Spent</span>
            </a>
            <a href="/user/remaining">            
                <span class="tab title is-1 p-sm-left p-sm-right {{#unless section.remaining}}has-text-grey-lighter{{/unless}}" id="remaining">Remaining</span>
            </a>

    <br>

    <div class="flex-center p-md">
        <div class="field has-addons">
            <div class="control">
                <input type="text" id="newEntry" class="input is-primary" placeholder="New Entry">
            </div>
            <div class="control">
                <input type="text" id="newAmount" class="input is-primary" placeholder="Amount">
            </div>
            <div class="control">
                <span class="select is-primary">
                    <select name="category" id="topCategory">
                        <option value="select">Select Category</option>
                        {{#each userData}}
                        <option value="{{category}}">{{category}}</option>
                        {{/each}}
                    </select>
                </span>
            </div>
            <div class="control">
                <button class="button is-primary">Add</button>
            </div>
        </div>
    </div>

    {{#each userData}}
        <table class="table is-fullwidth is-striped" id={{category}}>
            {{> category}} 
            
            {{> entries}}
        </table>
            
    {{/each}}
    
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/user.js"></script>

