{{> nav}}

<div class="container has-background-white shadow p-md" id="budget">
            <a href="/user/planned">
                <span class="tab title is-1 p-sm-left p-sm-right {{#unless section.planned}}has-text-grey-lighter{{/unless}}" id="planned">Planned</span>
            </a>
            <a href="/user/spent">
                <span class="tab title is-1 p-sm-left p-sm-right {{#unless section.spent}}has-text-grey-lighter{{/unless}}" id="spent">Spent</span>
            </a>
            <a href="/user/remaining">            
                <span class="tab title is-1 p-sm-left p-sm-right {{#unless section.remaining}}has-text-grey-lighter{{/unless}}" id="remaining">Remaining</span>
            </a>

    <br>

    <div class="flex-center p-md">
        {{> input}}
    </div>

    <div class="flex-center flex-column">
        {{#each userData}}
            <table class="table is-fullwidth is-striped" id={{category}}>
                {{> category}} 
                
                {{> entries}}
            </table>
        {{/each}}
    </div>

</div>

{{> footer}}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/user.js"></script>

