{{> nav}}

<div class="container has-background-white p-md m-lg-bottom" id="budget">

            <span class="tab title is-1 p-sm-left p-sm-right">Planned</span>
            <span class="tab title is-1 p-sm-left p-sm-right has-text-grey-lighter">Spent</span>
            <span class="tab title is-1 p-sm-left p-sm-right has-text-grey-lighter">Remaining</span>

    <br>

    <div class="flex-center p-md">
        <div class="field has-addons">
            <div class="control">
                <input type="text" id="newEntry" class="input is-primary" placeholder="New Entry">
            </div>
            <div class="control">
                <input type="text" id="newAmount" class="input is-primary" placeholder="Amount">
            </div>
            <div class="control">
                <span class="select is-primary">
                    <select name="category" id="topCategory">
                        <option value="select">Select Category</option>
                        {{#each userData}}
                        <option value="{{category}}">{{category}}</option>
                        {{/each}}
                    </select>
                </span>
            </div>
            <div class="control">
                <button class="button is-primary">Add</button>
            </div>
        </div>
    </div>

    {{#each userData}}
        <table class="table is-fullwidth is-striped" id={{category}}>
            {{> category}} 
            
            {{> entries}}
        </table>
            
    {{/each}}
    
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
<script type="text/javascript" src="/js/ajax.js"></script>
