{{> nav}}

<div class="container has-background-white" id="budget">
    <h1 class="title">{{section}}</h1>
    <br>

    <div class="level">
        <div class="level-item">
            <div class="field has-addons">
                <div class="control">
                    <input type="text" id="newEntry" class="input" placeholder="Add expense">
                </div>
                <div class="control">
                    <span class="select">
                        <select name="category" id="topCategory">
                            <option value="">Select Category</option>
                            {{#each userData}}
                            <option value="{{category}}">{{category}}</option>
                            {{/each}}
                        </select>
                    </span>
                </div>
                <div class="control">
                    <button class="button is-primary">Add</button>
                </div>
            </div>
        </div>
    </div>

    {{#each userData}}
        <div id={{category}}>
            {{> category}}
            {{> entries}}
        </div>
    {{/each}}
    
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/user.js"></script>

