{{> nav}}

<div class="container has-background-white" id="budget">
    <h1 class="title">User Homepage</h1>

    {{#each userData}}
        <div id={{category}}>
            {{> category}}
            {{> entries}}
        </div>
    {{/each}}
    
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/user.js"></script>

