@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');
@import url('https://fonts.googleapis.com/css?family=Catamaran|Merriweather+Sans');


/**theme colors**/
$background-color: #a2a8a8;
$primary-color:#45ADA8; 
$second-color: #73be85;
$third-color: #6EB1D9;
$fourth-color: #fae152;
$fifth-color:#f3422b; 

$primary: $primary-color;
$success: $second-color;
$info: $third-color;
$warning: $fourth-color;
$danger: $fifth-color;
$grey: hsl(0, 0%, 48%);

$link: $grey;

$family-sans-serif: "Catamaran";




$box-shadow: 0 2px 3px rgba(black, 0.1), 0 0 0 1px rgba(black, 0.1);
$footer-background-color: none;
$body-background-color: none;

$xsmall: 0.5rem;
$small: 1.5rem;
$medium: 3rem;
$large: 5rem;
$xlarge: 6.5rem;

$small-mobile: 0.5rem;
$medium-mobile: 1.5rem;
$large-mobile: 2rem;
$xlarge-mobile: 4rem;


.dropdown-menu {
    left: auto !important;
    right: 0px !important;
}

.saveBtn {
    z-index: 1;
    margin-bottom: -25px;
}


.shadow {
    box-shadow: $box-shadow;
}

html {
    background: none;
    background-color: none;
}

body {
    background-color: $background-color;
  }
  
#hero1 {
    background-image: url("../img/buy-cash-coins-9660.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position-x: right;
    background-position-y: bottom;
}

.second-background-color {
    background-color: $second-color;
}


.carat-margin {
margin-bottom: 1.5rem;
}

.nav-correction {
    display: flex !important;
    align-items: stretch !important;
}

.nav-correction > .navbar-start {
    justify-content: flex-start !important;
}

.nav-correction > .navbar-end {
    justify-content: flex-end !important;
}

/**Padding styles**/
.p-sm {
    padding: $small;
}

.p-md {
    padding: $medium;
}

.p-lg {
    padding: $large;
}

.p-sm-top {
    margin-top: $small;
}

.p-sm-bottom {
    margin-bottom: $small;
}

.p-sm-left {
    margin-left: $small;
}

.p-sm-right {
    margin-right: $small;
}

.p-lg-bottom{
    margin-bottom: $large;
}

/**margin styles**/
.m-sm {
    margin: $small;
}

.m-md {
    margin: $medium;
}

.m-xsm-bottom {
    margin-bottom: $xsmall;
}

.m-sm-bottom {
    margin-bottom: $small;
}

.m-sm-left {
    margin-left: $small;
}

.m-xsm-right {
    margin-right: $xsmall;
}

.m-lg-left {
    margin-left: $large;
}

.m-xlg-left {
    margin-left: $xlarge;
}

.m-lg-bottom {
    margin-bottom: $large;
}

/**for toggle**/

.hidden {
    display: none;
}

/**tabs**/
.tab:hover {
    cursor: pointer;
};

/**entries table styling**/
.flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    
}

.flex-column { 
    display: flex;
    flex-direction: column;
}

.flex-bottom {
    display: flex;
    align-items: flex-end;
}

/**tables**/

.tbody-corrections {
    margin-top: 20px;
}

/**new entry inputs**/
.entry-width {
    width: 200px;
}

.amount-width {
    width: 200px;
}

.select-width {
    > span {
        > select{
            width: 175px;
        }
        width: 175px;
    }
    width: 175px;
}

@media only screen and (min-width: 600px) {
    tr > th:nth-child(1) {
        width: 50%;
    }
}

@media only screen and (max-width: 600px){
    .pm-sm {
        padding: $small-mobile;
    }

    .p-sm-right{
        padding-right: $small-mobile;
    }

    .p-sm-left {
        padding-left: $small-mobile;
    }

    .m-lg-left{
        margin-left: $large-mobile;
    }

    .m-lg-bottom {
        margin-bottom: $large-mobile;
    }

    .m-sm-top {
        margin-top: $small-mobile;
    }

    .entry-width {
        width: 100%;
    }
    
    .amount-width {
        width: 100%;
    }
    
    .select-width {
        > span {
            > select{
                width: 100%;
            }
            width: 100%;
        }
        width: 100%;
    }

    tr > th:nth-child(1) {
        width: 35%;
    }
    
}




@import "../../node_modules/bulma/bulma.sass";
