@charset "utf-8";


$purple: #8A4D76;
$yellow: yellow;
$box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);

$small: 1.5rem;
$medium: 3rem;
$large: 5rem;
$xlarge: 6.5rem;

/**Padding styles**/
.p-sm {
    padding: $small;
}

.m-sm-left {
    margin-left: $small;
}

.m-lg-left {
    margin-left: $large;
}

.m-xlg-left {
    margin-left: $xlarge;
}

.hidden {
    display: none;
}

@import "../../node_modules/bulma/sass/utilities/_all.sass";


@import "../../node_modules/bulma/bulma.sass";